<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Main</title>
</head>

<body>

<div class="d-flex justify-content-center">
    <h2>List of products</h2>

    <form action="/" method="get">
        <input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
        <button type="submit" class="btn btn-success mx-4">Add</button>
    </form>

    <form action="/users" method="get">
        <input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
        <button type="submit" class="btn btn-primary mx-4">Users</button>
    </form>


     <form action="/logout" method="post">
         <input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
        <input class="btn btn-danger  mx-4" type="submit" value="Sign Out"/>
    </form>

</div>
<table class="table table-striped">
    {{#users}}
        <h3 class="text-center">Welcome {{username}}</h3>
        <tr>
            <form action="/users" method="post">
                <input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
                <td><input style="border: none;" type="text" name="id" value="{{id}}"/></td>
                <td><input style="border: none;" type="text" name="username" value="{{username}}"/></td>
                <td><input style="border: none;" type="text" name="email" value="{{email}}"/></td>
                <td><input style="border: none;" type="text" name="comment" value="{{password}}"/></td>
                <td><button type="submit" class="btn btn-outline-success float-sm-right">Save</button></td>
            </form>
            <td>
                <form action="/users?id={{id}}" method="post">
                <input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
                <button type="submit" class="btn btn-outline-danger float-sm-center">Remove</button>
                </form>
            </td>
            <td>
                <form action="/login" method="post">
                    <input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
                    <a class="btn btn-info" href="/users" onclick="return {{auth}};">Admin</a>
                </form>


            </td>
        </tr>

    {{/users}}

</table>

</body>
</html>