<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Main</title>
</head>

<body>

<div class="d-flex justify-content-center">
    <h2>List of products</h2>
    <form action="/add" method="get">
        <button type="submit" class="btn btn-success mx-4">Add</button>
    <a class="btn btn-primary" href="/users">Users</a>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
<!--    <a class="btn btn-danger" href="/login">LogOut</a>-->
    </form>
</div>
<table class="table table-striped">
    {{#foods}}
        <tr>
        <form action="filter" method="post">
            <td><button type="submit" class="btn btn-outline-success float-sm-right">Seek</button></td>
        </form>
        <td>
            <form action="/main?id={{id}}" method="post">
                <button type="submit" class="btn btn-outline-danger float-sm-center">Remove</button>
            </form>
        </td>
    </tr>
        {{/foods}}
</table>
</body>
</html>