<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Users</title>
</head>

<body>

<div class="d-flex justify-content-center">
    <h2 class="mx-4">List of users</h2>
    <form action="/users/add" method="get">
        <button type="submit" class="btn btn-success">Add</button>
        <a class="btn btn-primary" href="/main">Foods</a>
    </form>
</div>
<h3 class="">Find ...</h3>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit" class="btn btn-success">Find</button>
    <input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
</form>

<form method="post" action="/logout">
<input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
<button type="submit" class="btn btn-danger mx-4">LogOut</button>
<table class="table table-striped">

    {{#users}}

        <tr>
            <form action="/users/edit" method="post">
                <input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
                <td><input style="border: none;" type="text" name="id" value="{{id}}"/></td>
                <td><input style="border: none;" type="text" name="name" value="{{email}}"/></td>
                <td><input style="border: none;" type="text" name="comment" value="{{password}}"/></td>
                <td>
                    <button type="submit" class="btn btn-outline-success float-sm-right">Save</button>
                </td>
            </form>
            <td>
                <form action="/users?id={{id}}" method="post">
                 <input type="hidden" name="_cstf" value="{{_csrf.token}}"/>
                 <button type="submit" class="btn btn-outline-danger float-sm-center">Remove</button>
                </form>
            </td>
        </tr>
    {{/users}}

</table>
</body>
</html>
